aiogram==2.22.2
aiohttp==3.8.3
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
Babel==2.9.1
certifi==2022.9.24
charset-normalizer==2.1.1
comtypes==1.1.14
frozenlist==1.3.1
idna==3.4
keyboard==0.13.5
MouseInfo==0.1.3
multidict==6.0.2
Pillow==9.2.0
psutil==5.9.3
PyAutoGUI==0.9.53
pycaw==20220416
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-dotenv==0.21.0
pytweening==1.0.4
pytz==2022.5
six==1.16.0
speedtest-cli==2.1.3
yarl==1.8.1
